<ion-content>
  <div class="top-container">
    <ion-row>
      <ion-col size-s="2">
        <ion-button fill="clear" class="left">
          <ion-img
            src="../../../assets/svg/icons/back-arrow.svg"
            alt="back-arrow"
          ></ion-img>
        </ion-button>
      </ion-col>

      <ion-col size-s="8">
        <h1 class="middle">Chats</h1>
      </ion-col>
      <ion-col size-s="2" class="right">
        <ion-button fill="clear">
          <ion-img
            (click)="openMenu()"
          id="main-content"
            src="../../../assets/svg/icons/burgermenu.svg"
            alt="burgermenu"
          ></ion-img>
        </ion-button>
      </ion-col>
    </ion-row>

    <app-burgermenu></app-burgermenu>

    <div class="spacer"></div>
    <div class="container">
      <ion-searchbar placeholder="Hvad søger du?"></ion-searchbar>
    </div>
  </div>
</ion-content>
