<ion-content>
  <div class="top-container">
    <ion-row>
      <ion-col size-s="2" class="left">
        <ion-button fill="clear" (click)="navigateToHome()">
          <ion-img
            src="../../../assets/svg/icons/back-arrow.svg"
            alt="back-arrow"
          ></ion-img> </ion-button
      ></ion-col>

      <ion-col size-s="8"> </ion-col>

      <ion-col size-s="2" class="right">
        <ion-menu-button></ion-menu-button>
      </ion-col>
    </ion-row>

    <div class="spacer"></div>


    <div *ngIf="!loading">
      <div
        *ngIf="conversations && conversations.length > 0 else noChatsTemplate"
      >
        <div
          *ngFor="let chat of conversations"
          (click)="openChat(chat.chatId, chat.recipient.uid)"
        >
          <ion-card>
            <ion-img
              [src]="chat.recipient.profilePic || 'assets/svg/profile/profile-picture.svg'"
            ></ion-img>
            <div class="card-content">
              <h2 class="ion-no-margin">
                {{ chat.recipient.firstName }} {{ chat.recipient.lastName }}
              </h2>
              <h4 class="ion-no-margin">{{ chat.lastMessage.text | wordLimit:5 }}</h4>
            </div>
          </ion-card>
        </div>
      </div>
    </div>

    <ng-template #noChatsTemplate>
      <div class="">
        <h2 class="no-chat">
          Det ser ud til, at du endnu ikke har nogen chats. <br />
          <br />
          For at starte en ny chat, skal du finde et job og skrive en besked på
          det.
        </h2>
        <ion-img src="../../../assets/svg/goggle-lady.svg" alt="No Chats">
        </ion-img>
      </div>
    </ng-template>
  </div>
</ion-content>
