<ion-content>
  <div class="top-container">
    <ion-row class="top-row">
      <ion-col size-s="2" class="left">
        <ion-button fill="clear" (click)="navigateToHome()">
          <ion-img
            src="../../../assets/svg/icons/back-arrow.svg"
            alt="back-arrow"
          ></ion-img>
        </ion-button>
      </ion-col>

      <ion-col size-s="8" class="middle">
        <h1>Chats</h1>
      </ion-col>
      <ion-col size-s="2" class="right">
        <ion-menu-button></ion-menu-button>
      </ion-col>
    </ion-row>

    <div class="spacer"></div>

    <div style="padding-top: 10px"></div>

    <div *ngFor="let chat of conversations" (click)="openChat(chat.chatId, chat.recipient)">
      <ion-card>
        <ion-img
          [src]="chat.profilePicture || 'assets/svg/profile/profile-picture.svg'"
        ></ion-img>
        <div class="card-content">
          <h2 class="ion-no-margin">{{ chat.recipient.firstName }} {{chat.recipient.lastName}}</h2>
      
          <h4 class="ion-no-margin">{{ chat.lastMessage.text }}</h4>
         
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
