<ion-content>
  <div class="background">
    <ion-grid class="ion-no-padding ion-no-border ion-no-margin">
      <ion-row>
        <ion-col size-s="2" class="ion-align-self-center">
          <ion-button (click)="goBack()" fill="clear" class="back-arrow">
            <ion-img
              src="../../../assets/svg/icons/back-arrow.svg"
              alt="back-arrow"
              class="back-arrow"
            ></ion-img>
          </ion-button>
        </ion-col>

        <ion-col size-s="8">
          <ion-img
            src="../../../assets/svg/icons/logo.svg"
            alt="logo"
            class="logo"
          ></ion-img>
        </ion-col>
        <ion-col size-s="2" class="ion-align-self-center ion-text-end">
          <p class="cancel" (click)="navigateToStart()">Fortryd</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h1 style="margin-top: 0;" class="container">Næsten på plads</h1>

    <h4 class="move-right">Om Lokation:</h4>

    <ion-input
      label="By"
      label-placement="floating"
      fill="outline"
      placeholder="By"
      mode="md"
    ></ion-input>

    <div style="padding: 10px"></div>

    <ion-input
      label="Postnummer"
      label-placement="floating"
      fill="outline"
      placeholder="Postnummer"
      mode="md"
    ></ion-input>

    <div style="padding: 15px"></div>

    <h4 class="move-right">Så du kan kontaktes:</h4>
    <ion-input
      label="Telefon"
      label-placement="floating"
      fill="outline"
      placeholder="Telefon"
      mode="md"
    ></ion-input>

    <div style="padding: 10px"></div>

    <ion-input
      label="Email"
      label-placement="floating"
      fill="outline"
      placeholder="Email"
      mode="md"
    ></ion-input>

    <div class="spacer"></div>

    <ion-button class="main-button next-button" (click)="Register()"
      >Færdiggør</ion-button
    >
  </div>
</ion-content>
