<ion-content [fullscreen]="true">
  <div class="background">
    <ion-row class="top-row">
      <ion-col size-s="2" class="left">
        <ion-button (click)="backToLastPage()" fill="clear">
          <ion-img
            src="../../../assets/svg/icons/back-arrow.svg"
            alt="back-arrow"
          ></ion-img>
        </ion-button>
      </ion-col>

      <ion-col size-s="8" class="middle">
        <ion-img
          src="../../../assets/svg/icons/logo.svg"
          alt="logo"
          class="logo"
        ></ion-img>
      </ion-col>
      <ion-col size-s="2" class="right"></ion-col>
    </ion-row>

    <ion-img
      src="../../../assets/svg/404.svg"
      alt="404"
      class="illustration-404"
    ></ion-img>

    <h1>Noget gik galt</h1>
    <h2>
      Siden blev ikke fundet, og har resulteret i en fejl...
      <br /><br />
      Hvis problemet opstår igen, skriv gerne til vores support
    </h2>
  </div>
</ion-content>
