<ion-content [fullscreen]="true">
  <div class="background">
    <ion-grid class="ion-no-padding ion-no-border ion-no-margin">
      <ion-row>
        <ion-col size-s="2" class="ion-align-self-center">
          <ion-button
          (click)="backToLastPage()"
            fill="clear"
            class="back-arrow"
          >
            <ion-img
              src="../../../assets/svg/icons/back-arrow.svg"
              alt="back-arrow"
              class="back-arrow"
            ></ion-img>
          </ion-button>
        </ion-col>

        <ion-col size-s="8">
          <ion-img
            src="../../../assets/svg/icons/logo.svg"
            alt="logo"
            class="logo"
          ></ion-img>
        </ion-col>

        <ion-col size-s="2" class="ion-align-self-center ion-text-end">
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-img
      src="../../../assets/svg/404.svg"
      alt="404"
      class="illustration-404"
    ></ion-img>

    <h1>Noget gik galt</h1>
    <h2>
      Siden blev ikke fundet, og har resulteret i en fejl... 
      <br><br>
      Hvis problemet opstår igen, skriv gerne til vores support
    </h2>
  </div>
</ion-content>
