<ion-content [fullscreen]="true">
  <div class="topbackground">
    <ion-grid class="ion-no-padding ion-no-border ion-no-margin">
      <ion-row>
        <ion-col size-s="2" class="ion-align-self-center">
          <ion-button
            (click)="backToLastPage()"
            fill="clear"
            class="back-arrow"
          >
            <ion-img
              src="../../../assets/svg/icons/back-arrow.svg"
              alt="back-arrow"
              class="back-arrow"
            ></ion-img>
          </ion-button>
        </ion-col>

        <ion-col size-s="8">
          <ion-img
            src="../../../assets/svg/icons/logo.svg"
            alt="logo"
            class="logo"
          ></ion-img>
        </ion-col>

        <ion-col size-s="2" class="ion-align-self-center ion-text-end">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="container">
    <ion-img
      src="../../../assets/svg/security-two-color.svg"
      alt="404"
      class="illustration-404"
    ></ion-img>
    <h1>Fortrolighedspolitik</h1>
    <p>
      På småjobs.dk, en af vores hovedprioriteter er beskyttelsen af vores
      besøgendes privatliv. Dette dokument om privatlivspolitik indeholder typer
      af information, der indsamles og registreres af småjobs, samt hvordan vi
      anvender den. Hvis du har yderligere spørgsmål eller behøver mere
      information om vores privatlivspolitik, tøv ikke med at kontakte os. Denne
      privatlivspolitik gælder kun for vores online aktiviteter og er gyldig for
      besøgende på vores hjemmeside med hensyn til den information, de deler
      og/eller indsamler på småjobs. Denne politik gælder ikke for nogen
      information, der indsamles offline eller via kanaler, der ikke er denne
      hjemmeside. Samtykke Ved at bruge vores hjemmeside giver du hermed dit
      samtykke til vores privatlivspolitik og accepterer dens betingelser.
      Information, vi indsamler De personlige oplysninger, du bliver bedt om at
      give, og årsagerne til, at du bliver bedt om at give dem, vil blive
      klargjort for dig på det tidspunkt, hvor vi beder dig om dine personlige
      oplysninger. Hvis du kontakter os direkte, kan vi modtage yderligere
      oplysninger om dig, såsom dit navn, e-mailadresse, telefonnummer,
      indholdet af beskeden og/eller vedhæftninger, du sender os, samt andre
      oplysninger, du måtte vælge at give. Når du registrerer dig for en konto,
      kan vi bede om dine kontaktoplysninger, herunder ting som navn,
      virksomhedsnavn, adresse, e-mailadresse og telefonnummer. Hvordan vi
      bruger dine oplysninger Vi bruger de indsamlede oplysninger på forskellige
      måder, herunder til at:
    </p>
    <ul>
      <li>Levere, drive og vedligeholde vores hjemmeside</li>
      <li>Forbedre, personalisere og udvide vores hjemmeside</li>
      <li>Forstå og analysere, hvordan du bruger vores hjemmeside</li>
      <li>Udvikle nye produkter, tjenester, funktioner og funktionalitet</li>
      <li>
        Kommunikere med dig, enten direkte eller gennem en af vores partnere,
        herunder kundeservice, at give dig opdateringer og anden information
        relateret til hjemmesiden og til marketing- og reklameformål
      </li>
      <li>Sende dig e-mails</li>
      <li>Finde og forhindre svindel</li>
    </ul>
    <p>
      Logfiler småjobs følger en standardprocedure for brug af logfiler. Disse
      filer logger besøgende, når de besøger hjemmesider. Alle
      hostingvirksomheder gør dette som en del af deres analyser af
      hostingtjenester. De indsamlede oplysninger i logfilerne inkluderer
      internetprotokol (IP)-adresser, browsertype, internetudbyder (ISP), dato
      og tidspunkt for besøget, henvisnings-/afgangssider og muligvis antallet
      af klik. Disse oplysninger er ikke knyttet til nogen personligt
      identificerbare oplysninger. Formålet med informationen er at analysere
      tendenser, administrere hjemmesiden, spore brugernes bevægelser på
      hjemmesiden og indsamle demografiske oplysninger. Reklamepartnere og
      privatlivspolitikker Du kan konsultere denne liste for at finde
      privatlivspolitikken for hver af reklamepartnerne på småjobs. Tredjeparts
      annonceringsservere eller annoncenetværk bruger teknologier som cookies,
      JavaScript eller webbeacons, der bruges i deres respektive annoncer og
      links, der vises på småjobs og sendes direkte til brugernes browser. De
      modtager automatisk din IP-adresse, når dette sker. Disse teknologier
      bruges til at måle effektiviteten af deres reklamekampagner og/eller til
      at personalisere indholdet af reklamer, som du ser på de hjemmesider, du
      besøger. Bemærk, at småjobs ikke har adgang til eller kontrol over disse
      cookies, der bruges af tredjeparts annoncører. Privatlivspolitikker for
      tredjepart småjobs' privatlivspolitik gælder ikke for andre annoncører
      eller hjemmesider. Derfor råder vi dig til at konsultere de respektive
      privatlivspolitikker for disse tredjeparts annonceringsservere for mere
      detaljeret information. Dette kan omfatte deres praksis og instruktioner
      om, hvordan du fravælger visse muligheder. Du kan vælge at deaktivere
      cookies gennem dine individuelle browserindstillinger. For at få mere
      detaljeret information om håndtering af cookies med specifikke webbrowsere
      kan det findes på de respektive browseres hjemmesider.
      CCPA-privatlivsrettigheder (Sælg ikke mine personlige oplysninger) Under
      CCPA har californiske forbrugere blandt andre rettigheder ret til at:
    </p>
    <ul>
      <li>
        Anmode om, at en virksomhed, der indsamler en forbrugers persondata,
        afslører kategorierne og specifikke dele af persondata, som virksomheden
        har indsamlet om forbrugere.
      </li>
      <li>
        Anmode om, at en virksomhed sletter eventuelle persondata om
        forbrugeren, som virksomheden har indsamlet.
      </li>
      <li>
        Anmode om, at en virksomhed, der sælger en forbrugers persondata, ikke
        sælger forbrugerens persondata. Hvis du fremsætter en anmodning, har vi
        en måned til at svare dig. Hvis du ønsker at udøve nogen af disse
        rettigheder, bedes du kontakte os. GDPR-databeskyttelsesrettigheder Vi
        vil gerne sikre, at du er fuldt ud klar over alle dine
        databeskyttelsesrettigheder. Hver bruger har følgende rettigheder:
      </li>
      <li>
        Retten til adgang - Du har ret til at anmode om kopier af dine
        persondata. Vi kan opkræve et mindre gebyr for denne service.
      </li>
      <li>
        Retten til berigtigelse - Du har ret til at anmode om, at vi retter
        oplysninger, du mener er unøjagtige. Du har også ret til at anmode om,
        at vi fuldfører de oplysninger, du mener
      </li>
    </ul>
  </div>
</ion-content>
