<ion-content>
  <div class="background">
    <div style="padding-top: 75px"></div>
    <ion-row class="top-row">
      <ion-col size-s="2" class="left">
        <ion-button fill="clear">
          <ion-img
            (click)="navigateTologin()"
            src="../../../assets/svg/icons/back-arrow.svg"
            alt="back-arrow"
          ></ion-img>
        </ion-button>
      </ion-col>

      <ion-col size-s="8" class="middle">
        <ion-img
          src="../../../assets/svg/icons/logo.svg"
          alt="logo"
          class="logo"
        ></ion-img>
      </ion-col>
      <ion-col size-s="2" class="right"></ion-col>
    </ion-row>

    <div style="padding: 20px"></div>

    <div class="container" [formGroup]="credentials">
      <h1 class="ion-text-center ion-no-margin">Glemt adgangskode?</h1>

      <h2 class="ion-text-center">
        Har du glemt din adgangskode? Indtast din Email, så vil du få sendt et
        nyt
      </h2>

      <div style="padding: 20px"></div>

      <ion-input
        label="Email"
        label-placement="floating"
        fill="outline"
        placeholder="Skriv email"
        mode="md"
        clearInput="true"
        errorText="Ugyldig e-mailaddresse"
        formControlName="email"
      ></ion-input>

      <div class="spacer"></div>
      <ion-button class="main-button send-button">Send mail</ion-button>
      <ion-button
        (click)="forgotPassword()"
        type="submit"
        class="main-button login-button"
        >Nulstil adgangskode</ion-button
      >
    </div>
  </div>
</ion-content>
