<ion-content>
  <div class="background">
    <ion-grid class="ion-no-padding ion-no-border ion-no-margin">
      <ion-row>
        <ion-col size-s="2" class="ion-align-self-center">
          <ion-button
            (click)="navigateTologin()"
            fill="clear"
            class="back-arrow"
          >
            <ion-img
              src="../../../assets/svg/icons/back-arrow.svg"
              alt="back-arrow"
              class="back-arrow"
            ></ion-img>
          </ion-button>
        </ion-col>

        <ion-col size-s="8">
          <ion-img
            src="../../../assets/svg/icons/logo.svg"
            alt="logo"
            class="logo"
          ></ion-img>
        </ion-col>

        <ion-col size-s="2" class="ion-align-self-center ion-text-end">
        </ion-col>
      </ion-row>
    </ion-grid>

    <div style="padding: 20px"></div>

    <div class="container">
      <h1 class="ion-text-center ion-no-margin">Glemt adgangskode?</h1>

      <h2 class="ion-text-center">
        Har du glemt din adgangskode? Indtast din Email, så vil du få sendt et
        nyt
      </h2>

      <div style="padding: 20px"></div>

      <ion-input
        label="Email"
        label-placement="floating"
        fill="outline"
        placeholder="Skriv email"
        mode="md"
      ></ion-input>

      <div class="spacer"></div>
      <ion-button class="main-button login-button">Send mail</ion-button>
    </div>
  </div>
</ion-content>
