.background {   
    background: url('../../../assets/svg/backgrounds/start.svg') no-repeat center center / cover;
    min-height: 100vh;
}

.container {
    padding-right: 50px;
    padding-left: 50px;
}

.back-arrow {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
}

ion-grid {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.login-button {
    --background: var(--ion-color-secondary);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: block;
    margin: auto;
    width: 70%;
}
p{
  margin: 0;
}
.text-align{
  text-align: center;
}

h1{
    font-size: 30px;
    text-align: center;
    margin-top: 0;
}

h2{
    text-align: center;
    
    margin-left: auto; margin-right: auto; margin-top: 0;
    margin-top: 0;
}