ion-content {
  --background: #e6e6e6;
}

.header {
  background: url("../../../assets/svg/backgrounds/chat.svg") no-repeat
    center center / cover;
}

.profile-pic {
  width: 80px;
  height: 80px;
  object-fit: cover;
  align-self: center;
  border-radius: 50%;
  margin: 5px;
}

.spacer {
  height: 3vh;
}

ion-row {
  padding-bottom: 5.7vh;
  .left {
    ion-img {
      width: 25px;
      height: 25px;
    }
  }

  .middle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ion-img {
      width: 25px;
      height: 25px;
    }
  }
}

.active-chat {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center; // Add this line

  ion-img {
    width: 90px;
    height: 90px;
    margin-right: 12px;
    padding-top: 8px;
    padding-bottom: 4px;
    border-radius: 50%;
    flex-shrink: 0;
  }
}

.chat-window-incomming {
  ion-card {
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--ion-color-primary);
    width: 70%;
  }

  .card-title {
    font-size: 20px;
  }

  .message-content {
    color: black;
  }

  .message-time {
    float: right;
    color: black;
  }
}

.chat-window-outgoing {
  ion-card {
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--ion-color-teal);

    width: 70%;
    margin-right: 16px;
    margin-left: auto;
  }

  .card-title {
    font-size: 20px;
  }

  .message-content {
    color: black;
  }

  .message-time {
    float: right;
    color: black;
  }
}

.send {
  border-radius: 50px;
}

ion-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.2);
}

.chat-messages {
  max-height: 70vh;
  overflow-y: auto;
}

