.background {   
    background: url('../../../assets/svg/backgrounds/start.svg') no-repeat center center / cover;
    min-height: 100vh;
}

.container {
    padding: 20px;
}

.back-arrow-button {
    padding-top: 7vh;
    padding-bottom: 5vh;
}

.back-arrow-img {
    width: 30px;
    height: 30px;
}

.logo-slogan {
    transform: scale(0.8);
}

h3 {
    color: #3385FF;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.spacer {
    padding: 20px;
}



ion-input[fill="outline"] {
    --border-radius: 10px;
    border-radius: 10px;
    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --border-color: black;
    --border-style: solid;
    --border-width: 1px;
    --highlight-color-focused: rgba(0, 0, 0, 0.70);
    --placeholder-color: black;
    width: 285px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-button {
    --background: var(--ion-color-secondary);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}