<ion-content>
  <div class="background">
    <ion-button
      (click)="navigateToStart()"
      fill="clear"
      class="back-arrow-button"
    >
      <ion-img
        class="back-arrow-img"
        src="../../../assets/svg/icons/back-arrow.svg"
        alt="back-arrow"
      ></ion-img>
    </ion-button>
    <div class="container">
      <ion-img
        src="../../../assets/svg/logo-slogan.svg"
        alt="logo-slogan"
        class="logo-slogan"
      >
      </ion-img>

      <div class="spacer"></div>
      <form (ngSubmit)="login()" [formGroup]="credentials">
        <div class="input-container">
          <ion-input
            label="Email"
            label-placement="floating"
            fill="outline"
            placeholder="Skriv email"
            mode="md"
            clearInput="true"
            errorText="Ugyldig e-mailadresse"
            formControlName="email"
          ></ion-input>

          <ion-input
            label="Adgangskode"
            label-placement="floating"
            fill="outline"
            placeholder="Skriv adgangskode"
            mode="md"
            type="password"
            clearInput="true"
            required="true"
            errorText="Din adgangskode lever ikke op til kravene"
            formControlName="password"
          ></ion-input>
        </div>

        <h3 (click)="navigateToForgotPassword()" class="ion-text-center">
          Glemt adgangskode?
        </h3>

        <div class="spacer"></div>
        <ion-button type="submit" class="main-button login-button">Login</ion-button>
      </form>
    </div>
  </div>
</ion-content>
