ion-menu {

    ion-button {
        min-height: 0;
    }

    .close-button {
        padding-top: 15px;
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
    }

    .content {
        background: url("/assets/svg/backgrounds/start.svg") no-repeat center center / cover;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .menu-header {
        text-align: center;
        padding-bottom: 30px;
    }

    .user-profile-image {
        margin: 0 auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;

        ion-img {
            width: 100%;
            height: auto;
        }
    }

    ion-item {
        padding-bottom: 10px;
    }

    .logout-button-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 55px;
    }

    .logo {
        padding-top: 25px;
        width: 100px;
        height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
}