<ion-content>
  <div class="top-container">
    <ion-row>
      <ion-col size-s="2"> </ion-col>

      <ion-col size-s="8">
        <h5 class="middle">Placering</h5>
        <h5 class="middle ion-no-margin" style="margin-top: -10px">
          2630 Taastrup
        </h5>
      </ion-col>

      <ion-col size-s="2" class="right">
        <ion-menu-button></ion-menu-button>
      </ion-col>
    </ion-row>

    <h1 class="ion-text-center">Hej Mikkel</h1>

    <div class="search-container">
      <ion-searchbar
        placeholder="Hvad søger du?"
        [(ngModel)]="searchTerm"
        (ionInput)="applyFilters()"
        clearIcon="none"
      ></ion-searchbar>
      <ion-button
        fill="clear"
        class="filter-button"
        (click)="presentFilterModal()"
      >
        <ion-icon name="filter"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div style="padding: 20px"></div>

  <div class="scroll-element">
    <ion-card *ngFor="let job of filteredJobs" [routerLink]="[job.id]">
      <div class="card-content">
        <div class="text-content">
          <h2 class="ion-no-margin">{{ job.title }}</h2>
          <h4 class="ion-no-margin">{{ job.subline }}</h4>
          <h5 class="ion-no-margin">{{ job.payment }} kr.</h5>
        </div>
        <img class="profile-pic"
          [src]="job.userProfilePicUrl"
        />
      </div>
    </ion-card>
  </div>
  

  <ion-fab>
    <ion-fab-button>
      <ion-icon name="add" (click)="addNew()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
