<ion-content>
  <div class="top-container">
    <ion-row>
      <ion-col size-s="2"> </ion-col>

      <ion-col size-s="8">
        <div *ngIf="user; else noLocation">
          <h5 class="middle">Placering</h5>
          <h5 class="middle ion-no-margin" style="margin-top: -10px">
            {{user?.postalCode}} - {{user?.town}}
          </h5>
        </div>
        <ng-template #noLocation> <h2 class="middle ion-no-margin">-- --</h2> </ng-template>
      </ion-col>

      <ion-col size-s="2" class="right">
        <ion-menu-button></ion-menu-button>
      </ion-col>
    </ion-row>

    <div *ngIf="user; else loggedOut">
      <h1 class="ion-text-center">Hej {{user?.firstName}}</h1>
    </div>
    <ng-template #loggedOut>
      <h1 class="ion-text-center">Velkommen</h1>
    </ng-template>

    <div class="container">
      <ion-searchbar placeholder="Hvad søger du?"></ion-searchbar>
    </div>
  </div>

  <ion-icon
    class="right-button"
    name="filter-circle"
    (click)="presentFilterModal()"
  ></ion-icon>

  <ion-card>
    <div class="card-content">
      <h2 class="ion-no-margin">Gå tur med Fido</h2>
      <h4 class="ion-no-margin">Hver mandag og torsdag inden kl. 18</h4>
      <h5 class="ion-no-margin">300 kr. om måneden</h5>
    </div>
    <img src="assets/svg/profile/profile-picture.svg" />
  </ion-card>

  <ion-card>
    <div class="card-content">
      <h2 class="ion-no-margin">Hjælp en ældre med at handle</h2>
      <h4 class="ion-no-margin">
        Mangler hjælp til at handle 2-3 gange om ugen
      </h4>
      <h5 class="ion-no-margin">50 kr. om ugen</h5>
    </div>
    <img src="assets/svg/profile/profile-picture.svg" />
  </ion-card>

  <ion-card>
    <div class="card-content">
      <h2 class="ion-no-margin">Foder Miley mens vi er på ferie</h2>
      <h4 class="ion-no-margin">Hver aften, fra d. 06/07 til d. 16/7</h4>
      <h5 class="ion-no-margin">100 kr.</h5>
    </div>
    <img src="assets/svg/profile/profile-picture.svg" />
  </ion-card>

  <ion-fab>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
