ion-content {
  --background: #e6e6e6;
}

.top-container {
  background: url("../../../assets/svg/backgrounds/home.svg") no-repeat center center / cover;
  min-height: 36vh;
  max-height: 36vh;
}

.search-container {
  position: relative;
  top: 19vh;
  width: calc(100% - 52px);
  margin: 0 26px;
}

ion-searchbar {
  --background: white;
  --border-radius: 10px;
  --box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.16);
}

.filter-button {
  position: absolute;
  right: 0;
  top: 45%;
  transform: translateY(-50%);
}

.scroll-element {
  height: 450px;
  width: 100%;
  overflow-y: auto;
}

.content-cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  width: 350px;
  margin-top: 0 !important;
  margin-bottom: 10px !important;
  --border-radius: 10px;
  --box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2);
  padding: 8px;
  color: black;
  box-sizing: border-box;
  background-color: #ffffff;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
  padding: 5px 0;
}

.text-content {
  padding-right: 20px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  object-fit: cover;
  align-self: center;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.card-content h2 {
  margin: 8px 0;
}

.card-content h4 {
  margin: 12px 0;
}

.card-content h5 {
  margin: 8px 0;
}

ion-fab {
  position: fixed;
  right: 50%;
  bottom: 15px;
  transform: translateX(50%);
  z-index: 989;
}

ion-fab-button {
  --color: #ffffff;
}

ion-row {
  .left {
    ion-img {
      width: 25px;
      height: 25px;
    }
  }

  .middle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ion-img {
      width: 25px;
      height: 25px;
    }
  }
}

.profile-pic-skeleton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.skeleton-card {
  /* Increase the size of the card */
  // width: 100%; /* or any specific width you prefer */
  padding: 20px; /* Add padding to increase the overall size */

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile-pic-skeleton {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .text-content {
    flex: 1; /* Allows text content to take up remaining space */
    /* Add more spacing between the skeleton text lines */
    ion-skeleton-text {
      margin-bottom: 10px; /* Adjust as needed for more space between lines */
    }
  }
}

ion-searchbar {
  ::ng-deep {
    .searchbar-clear-icon {
      display: none !important;
    }
  }
}


