<ion-content>
  <div class="top-container">
    <ion-row>
      <ion-col size-s="2"> </ion-col>

      <ion-col size-s="8">
        <div *ngIf="user; else noLocation">
          <h5 class="middle">Placering</h5>
          <h5 class="middle ion-no-margin" style="margin-top: -10px">
            {{user?.postalCode}} - {{user?.town}}
          </h5>
        </div>
        <ng-template #noLocation> <h2 class="middle ion-no-margin">-- --</h2> </ng-template>
      </ion-col>

      <ion-col size-s="2" class="right">
        <ion-menu-button></ion-menu-button>
      </ion-col>
    </ion-row>

    <div *ngIf="user; else loggedOut">
      <h1 class="ion-text-center">Hej {{user?.firstName}}</h1>
    </div>
    <ng-template #loggedOut>
      <h1 class="ion-text-center">Velkommen</h1>
    </ng-template>

    <div class="search-container">
      <ion-searchbar
        placeholder="Hvad søger du?"
        [(ngModel)]="searchTerm"
        (ionInput)="applyFilters()"
        clearIcon="none"
      ></ion-searchbar>
      <ion-button fill="clear" class="filter-button" (click)="presentFilterModal()">
        <ion-icon name="filter"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div style="padding: 20px;"></div>

  <div class="scroll-element">
    <ion-card *ngFor="let job of filteredJobs" (click)="jobDetails()">
      <div class="card-content">
        <h2 class="ion-no-margin">{{ job.title}}</h2>
        <h4 class="ion-no-margin">{{ job.subline }}</h4>
        <h5 class="ion-no-margin">{{ job.payment }} kr.</h5>
      </div>
      <img
        [src]="job.userProfilePicUrl || 'assets/svg/profile/profile-picture.svg'"
      />
    </ion-card>
  </div>

  <ion-fab>
    <ion-fab-button>
      <ion-icon name="add" (click)="addNew()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
