<ion-content>
  <swiper-container>
    <swiper-slide class="slide-one">
      <div class="background">
        <ion-grid class="ion-no-padding ion-no-border ion-no-margin">
          <ion-row>
            <ion-col size-s="2" class="ion-align-self-center">
              <ion-button fill="clear" class="back-arrow">
                <ion-img
                  src="../../../assets/svg/icons/back-arrow.svg"
                  alt="back-arrow"
                  class="back-arrow"
                ></ion-img>
              </ion-button>
            </ion-col>

            <ion-col size-s="8">
              <ion-img
                src="../../../assets/svg/icons/logo.svg"
                alt="logo"
                class="logo"
              ></ion-img>
            </ion-col>
            <ion-col size-s="2" class="ion-align-self-center ion-text-end">
              <p class="cancel">Fortryd</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <h1 style="margin-top: 0" class="container">Din Konto</h1>

        <h2 class="ion-text-center container">
          Indtast den email og adgangskode du gerne vil bruge til at logge ind
        </h2>

        <div style="padding: 5px"></div>

        <ion-input
          label="Email"
          label-placement="floating"
          fill="outline"
          placeholder="Email"
          mode="md"
        ></ion-input>

        <div style="padding: 15px"></div>

        <ion-input
          label="Adgangskode"
          label-placement="floating"
          fill="outline"
          placeholder="Adgangskode"
          mode="md"
        ></ion-input>

        <div style="padding: 15px"></div>

        <ion-input
          label="Gentag Adgangskode"
          label-placement="floating"
          fill="outline"
          placeholder="Gentag Adgangskode"
          mode="md"
        ></ion-input>

        <div class="spacer"></div>

        <ion-button class="main-button next-button">Næste</ion-button>
      </div>
    </swiper-slide>
    <swiper-slide class="slide-two">
      <div class="background">
        <ion-grid class="ion-no-padding ion-no-border ion-no-margin">
          <ion-row>
            <ion-col size-s="2" class="ion-align-self-center">
              <ion-button fill="clear" class="back-arrow">
                <ion-img
                  src="../../../assets/svg/icons/back-arrow.svg"
                  alt="back-arrow"
                  class="back-arrow"
                ></ion-img>
              </ion-button>
            </ion-col>

            <ion-col size-s="8">
              <ion-img
                src="../../../assets/svg/icons/logo.svg"
                alt="logo"
                class="logo"
              ></ion-img>
            </ion-col>
            <ion-col size-s="2" class="ion-align-self-center ion-text-end">
              <p class="cancel">Fortryd</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <h1 class="container">Vis dig frem!</h1>
        <div style="padding: 6px"></div>
        <h2 class="ion-text-center container">
          Skab tilid og indsæt et<br />
          billede
        </h2>

        <ion-grid class="img-grid">
          <ion-row>
            <ion-col
              ><ion-img
                class="onSelected"
                src="../../../../assets/svg/profile/boy.svg"
              ></ion-img
            ></ion-col>
            <ion-col
              ><ion-img src="../../../../assets/svg/icons/camera.svg"></ion-img
            ></ion-col>
            <ion-col
              ><ion-img
                class="onSelected"
                src="../../../../assets/svg/profile/girl.svg"
              ></ion-img
            ></ion-col>
          </ion-row>
        </ion-grid>

        <ion-input
          label="Fornavn"
          label-placement="floating"
          fill="outline"
          placeholder="Fornavn"
          mode="md"
        ></ion-input>

        <div style="padding: 15px"></div>

        <ion-input
          label="Efternavn"
          label-placement="floating"
          fill="outline"
          placeholder="Efternavn"
          mode="md"
        ></ion-input>

        <div class="spacer"></div>

        <ion-button class="main-button next-button">Næste</ion-button>
      </div>
    </swiper-slide>

    <swiper-slide class="slide-three">
      <div class="background">
        <ion-grid class="ion-no-padding ion-no-border ion-no-margin">
          <ion-row>
            <ion-col size-s="2" class="ion-align-self-center">
              <ion-button fill="clear" class="back-arrow">
                <ion-img
                  src="../../../assets/svg/icons/back-arrow.svg"
                  alt="back-arrow"
                  class="back-arrow"
                ></ion-img>
              </ion-button>
            </ion-col>

            <ion-col size-s="8">
              <ion-img
                src="../../../assets/svg/icons/logo.svg"
                alt="logo"
                class="logo"
              ></ion-img>
            </ion-col>
            <ion-col size-s="2" class="ion-align-self-center ion-text-end">
              <p class="cancel">Fortryd</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <h1 class="container">Lidt om dig</h1>
        <div class="spacer"></div>

        <ion-input
          label="Alder"
          label-placement="floating"
          fill="outline"
          placeholder="Alder"
          mode="md"
          [clearInput]="true"
        ></ion-input>

        <div style="padding: 15px"></div>

        <ion-textarea
          class="description-text"
          fill="outline"
          mode="md"
          value="Skriv om dig selv, og hvis du har nogle
      informationer man bør vise hensyn til."
          [clearOnEdit]="true"
          [counter]="true"
          maxlength="500"
          [autoGrow]="true"
        ></ion-textarea>

        <div class="spacer"></div>

        <ion-button class="main-button next-button">Næste</ion-button>
      </div>
    </swiper-slide>

    <swiper-slide class="slide-four">
      <div class="background">
        <ion-grid class="ion-no-padding ion-no-border ion-no-margin">
          <ion-row>
            <ion-col size-s="2" class="ion-align-self-center">
              <ion-button fill="clear" class="back-arrow">
                <ion-img
                  src="../../../assets/svg/icons/back-arrow.svg"
                  alt="back-arrow"
                  class="back-arrow"
                ></ion-img>
              </ion-button>
            </ion-col>

            <ion-col size-s="8">
              <ion-img
                src="../../../assets/svg/icons/logo.svg"
                alt="logo"
                class="logo"
              ></ion-img>
            </ion-col>
            <ion-col size-s="2" class="ion-align-self-center ion-text-end">
              <p class="cancel">Fortryd</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <h1 style="margin-top: 0" class="container">Næsten på plads</h1>

        <h4 class="move-right">Om Lokation:</h4>

        <ion-input
          label="By"
          label-placement="floating"
          fill="outline"
          placeholder="By"
          mode="md"
        ></ion-input>

        <div style="padding: 10px"></div>

        <ion-input
          label="Postnummer"
          label-placement="floating"
          fill="outline"
          placeholder="Postnummer"
          mode="md"
        ></ion-input>

        <div style="padding: 15px"></div>

        <h4 class="move-right">Så du kan kontaktes:</h4>
        <ion-input
          label="Telefon"
          label-placement="floating"
          fill="outline"
          placeholder="Telefon"
          mode="md"
        ></ion-input>

        <div style="padding: 10px"></div>

        <ion-input
          label="Email"
          label-placement="floating"
          fill="outline"
          placeholder="Email"
          mode="md"
        ></ion-input>

        <div class="spacer"></div>

        <ion-button class="main-button next-button">Færdiggør</ion-button>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
