<ion-content>
  <swiper-container #swiper (afterinit)="swiperReady()" [pagination]="true">
    <swiper-slide class="slide-one">
      <div class="container">
        <div class="top-content">
          <ion-button class="skip" (click)="start()">Skip</ion-button>
          <ion-img
            src="../../../assets/svg/kid-pole.svg"
            alt="Illustration"
            class="illustration"
          >
          </ion-img>
        </div>

        <div class="bottom-content ion-text-center">
          <h1>Velkommen til</h1>
          <ion-img
            src="../../../assets/svg/logo-no-slogan.svg"
            alt="Illustration"
            class="logo-text"
          >
          </ion-img>
          <p>
            En platform der forbinder folk med daglige opgaver og dem, der
            ønsker at hjælpe. Nemt, hurtigt og lokalt.
          </p>
        </div>
        <ion-button class="næste" (click)="next()">Næste</ion-button>
      </div>
    
    </swiper-slide>

    <swiper-slide class="slide-two">
      <div class="container">
        <div class="top-content">
          <ion-button class="skip" (click)="start()">Skip</ion-button>
          <ion-img
            src="../../../assets/svg/man-phone.svg"
            alt="Illustration"
            class="illustration"
          >
          </ion-img>
        </div>

        <div class="bottom-content ion-text-center">
          <h1>Find det perfekte match</h1>
          <p>
            Uanset om du vil have hjælp til haven, eller ønsker at tjene lidt
            ekstra, er der noget for alle.
          </p>
        </div>
        <ion-button class="næste" (click)="next()">Næste</ion-button>
      </div>
    </swiper-slide>

    <swiper-slide class="slide-three">
      <div class="container">
        <div class="top-content">
          <ion-img
            src="../../../assets/svg/man-phone.svg"
            alt="Illustration"
            class="illustration"
          >
          </ion-img>
        </div>

        <div class="bottom-content ion-text-center">
          <h1>Få belønning for dit arbejde</h1>
          <p>
            Udfør opgaver, opbyg din profil og nyd frugterne af dit arbejde med
            sikker betaling.
          </p>
          <ion-button class="getStarted" expand="block" (click)="start()"
            >Kom i gang</ion-button
          >
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
