.slide-one {
    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .top-content {
        background-color: var(--ion-color-secondary);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: 20px;
        position: relative;
        overflow: hidden;
        height: 45vh;
    }

    .illustration {
        height: 100%;
    }

    .skip {
        position: absolute;
        top: 20px;
        right: 20px;
        --background: #FFF;
        font-size: 0.8rem;
        width: 35px;
        height: 30px;
        min-height: 0;
    }

    .bottom-content {
        padding: 20px;
        flex: 1;
    }

    .logo-text {
        transform: scale(0.8);
    }

    h1 {
        font-size: 40px;
        margin-bottom: -10px;
    }

    p {
        font-size: 18px
    }

    .næste {
        padding: 20px;
        --background: var(--ion-color-secondary);
        align-self: flex-end;
        --border-radius: 20px;
    }
}

.slide-two {
    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .top-content {
        height: 45vh;
        background-color: var(--ion-color-teal);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: 20px;
        position: relative;
        overflow: hidden;
    }

    .illustration {
        height: 100%;
    }

    .skip {
        position: absolute;
        top: 20px;
        right: 20px;
        --background: #FFF;
        font-size: 0.8rem;
        width: 35px;
        height: 30px;
        min-height: 0;
    }

    .bottom-content {
        padding: 20px;
        flex: 1;
    }

    h1 {
        font-size: 40px;
        margin-bottom: -10px;
    }

    p {
        padding-top: 40px;
        font-size: 18px
    }

    .næste {
        padding: 20px;
        --background: var(--ion-color-teal);
        align-self: flex-end;
        --border-radius: 20px;
    }
}

.slide-three {
    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .top-content {
        height: 45vh;
        background-color: var(--ion-color-primary);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: 20px;
        position: relative;
        overflow: hidden;
    }

    .illustration {
        height: 100%;
    }

    .bottom-content {
        padding: 20px;
        flex: 1;
    }

    .logo {
        transform: scale(0.8);
    }

    h1 {
        font-size: 40px;
        margin-bottom: -10px;
    }

    p {
        padding-top: 40px;
        font-size: 18px
    }

    .getStarted {
        padding: 20px;
        --background: var(--ion-color-primary);
    }
}

swiper-container {
    --swiper-pagination-top: 46vh;
    --swiper-pagination-bottom: 46vh;
}