  <div
    class="burger-icon"
    (click)="toggleMenu()"
    role="button"
    [attr.aria-expanded]="isOpen"
  >
    <img *ngIf="!isOpen" src="assets/svg/icons/burgermenu.svg" alt="Menu" />
    <ion-icon *ngIf="isOpen" name="close"></ion-icon>
  </div>
  <div class="menu-overlay" *ngIf="isOpen" (click)="toggleMenu()"></div>

  <div class="menu-content" [class.open]="isOpen">
    <div class="menu-header">
      <div class="profile-image">
        <img src="assets/svg/profile/profile-picture.svg"/>
      </div>
      <div class="profile-info">
        <h1>Mikkel Hansen</h1>
      </div>
    </div>

    <ul>
      <li>
        <ion-icon name="home"></ion-icon>
        <h1 href="#">Hjem</h1>
      </li>
      <li>
        <ion-icon name="person"></ion-icon>
        <h1 href="#">Profil</h1>
      </li>
      <li>
        <ion-icon name="chatbubble"></ion-icon>
        <h1 href="#">Chat</h1>
      </li>
      <li>
        <ion-icon name="document"></ion-icon>
        <h1 href="#">Privacy Policy</h1>
      </li>
    </ul>

    <ion-button class="logout-button" (click)="logout()">
      <ion-icon name="log-out"></ion-icon>Log ud</ion-button
    >

    <div class="bottom-spacer"></div>
  </div>