/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css?family=Stylish:700|Stylish:400");

* {
  font-family: "Stylish", sans-serif;
  // font-weight: 400;
}

:root,
:root[mode="ios"],
:root[mode="md"] {
  --ion-font-family: 'Stylish', sans-serif !important;
  font-family: 'Stylish', sans-serif !important;
}


h1,
h2,
h3,
h4,
h5 {
  font-family: "Stylish", sans-serif;
  // font-weight: 700;
}

html {
  font-size: 100%;
}

p {
  font-size: 1rem;
  /* 16px */
}

h1 {
  font-size: 1.5rem;
  /* 24px */
}

h2 {
  font-size: 1.25rem;
  /* 20px */
}

h3 {
  font-size: 1.125rem;
  /* 18px */
}

h4 {
  font-size: 1rem;
  /* 16px */
}

h5 {
  font-size: 0.875rem;
  /* 14px */
}

small {
  font-size: 0.75rem;
  /* 12px */
}

ion-button {
  --border-radius: 10px;
  font-size: 20px;
}

.main-button {
  --border-radius: 10px;
  font-size: 20px;
  display: block;
  width: 282px;
  height: 63px;
  margin-left: auto;
  margin-right: auto;
}

ion-menu-button {
  color: black;
}

ion-item.active {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

swiper-container {
  --swiper-pagination-color: var(--ion-color-secondary, #3880ff);
}

.small-center-modal::part(content) {
  width: 80%;
  --border-radius: 10px;
  --height: 50%;
}

.top-row {
  .left {
    ion-img {
      width: 25px;
      height: 25px;
    }
  }

  .middle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ion-img {
      width: 25px;
      height: 25px;
    }
  }
}

.logo {
  width: 115px;
  height: 80px;
}