ion-content {
    --background: url('../../../assets/svg/background.svg') no-repeat center center / cover;
    min-height: 100vh;
}

.container {
    padding: 20px;
}

.top-spacer {
    height: 15vh;
}

.logo-slogan {
    transform: scale(0.8);
}