<ion-content>
  <div class="top-container">
    <ion-row>
      <ion-col size-s="2" class="left">
        <ion-button fill="clear" (click)="navigateToHome()">
          <ion-img
            src="../../../assets/svg/icons/back-arrow.svg"
            alt="back-arrow"
          ></ion-img> </ion-button
      ></ion-col>

      <ion-col size-s="8"> </ion-col>

      <ion-col size-s="2" class="right">
        <ion-menu-button></ion-menu-button>
      </ion-col>
    </ion-row>


    <!-- <swiper-container *ngIf="job?.photos?.length">
      <swiper-slide *ngFor="let photo of job.photos">
        <img [src]="photo" alt="Job photo">
      </swiper-slide>
    </swiper-container> -->
  

  <swiper-container>
    <swiper-slide>
<h1> Slide 1</h1>
    </swiper-slide>

    <swiper-slide>
<h1> slide 2 </h1>
    </swiper-slide>
    
  </swiper-container>

  </div>
  <ion-card class="job-card" *ngIf="job">
    <h1>{{ job.title }}</h1>
    <h4>{{ job.description }}</h4>
    <h4>{{ job.payment }} kr.</h4>
  </ion-card>

  <ion-card class="person-card" *ngIf="job">
    <!-- <h1>{{ job.firstName }} {{ job.lastName }}</h1> -->
    <ion-button class="contact-button" (click)="startChat()">Kontakt</ion-button>
    <ion-img [src]="job.userProfilePicUrl || 'assets/svg/profile/profile-picture.svg'"></ion-img>
  </ion-card>
</ion-content>
